{% extends 'blog/base.html.twig' %}

{% block title %} Article  {% endblock %}

{% block body %}

<div class="container my-5">
{% for category in categories %}
    {% for article in articles %}
    <div class="row shadow rounded my-3 block-article">
        <div class="col-md-3 p-2">
            <img src="{{ article.picture }}" alt="">
        </div>
        <div class="col-md-9 p-2">
            <p style="color:{{ category.color }}">{{category.name}}<p>
            <h6 class="my-2">{{ article.title }}</h6>
            <p class="my-2">{{ article.paragraph }}</p>
            <a href="article/{{article.slug}}"><button type="button" class="button-article" style="background:{{ category.color }}">Lire la suite</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
    {% endfor %}
{% endfor %}
</div>

{% endblock %}

